@import url('https://fonts.googleapis.com/css?family=Lato');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px 20px;
    font-family: 'Lato', sans-serif;
}

hr{
    margin: 20px 0;
    border-color: black;
    opacity: 0.5;
}

h2{
    margin-bottom:10px;
}

p{
    margin-bottom: 20px;
}

ul{
    list-style-position: inside;
}

.codeBlock {
    border-radius: 24px;
    padding: 24px 24px !important;
}

